#ww
  .row
    .col-lg-8.col-lg-offset-2.centered
      = image_tag("old-woman.jpg", height: 200, alt: "Little Old Landlady!")
      %h1 Welcome to Little Old Landlady, LOL!
      %p Little Old Landlady is a responsive web-tool for low impact interaction between property owners and tenants. Owners can easily track repairs and monitor tenant concerns for each of their properties. Updates are pushed directly to owners' phones via SMS messages. Tenants are provided with an easy means for voicing their concerns and alerting management to needed repairs. 
    .col-lg-8.col-lg-offset-2.centered
      %p
        Make Renting Easier!
      %p
        - unless current_user
          = link_to "Sign Up Now", new_user_registration_path, class: "btn btn-lg"