- if current_user.try(:admin?)
  =link_to "new rental", new_rental_path
#ww
  .container
    .row
      .col-lg-8.col-lg-offset-2.centered
        = image_tag("user.png", alt: "Little Old Landlady!")
        %h1 Hi, I am Stanley!
        %p Hello everybody. I'm Stanley, a free handsome bootstrap theme coded by BlackTie.co. A really simple theme for those wanting to showcase their work with a cute & clean style.
        %p
          Please, consider to register to
          %a{:href => "http://eepurl.com/IcgkX"} our newsletter 
          to be updated with our latest themes and freebies. Like always, you can use this theme in any project freely. Share it with your friends.